@media (max-width: 1080px) {

	.cloud-image-1 {
		width: 150px;
		top: 200px;
		left: 10px;
	}
	.cloud-image-2 {
		width: 170px;
		top: 130px;
		right: 10px;
	}
	.bird-image {
		width: 50px;
		top: 100px;
		left: 250px;
	}

}

@media (max-width: 961px) {

	.cloud-image-1 {
		width: 150px;
		top: 250px;
		left: -80px;
	}
	.cloud-image-2 {
		width: 170px;
		top: 100px;
		right: -80px;
	}
	.bird-image {
		width: 50px;
		top: 100px;
		left: 120px;
	}

}

@media (max-width: 767px) {

	.text-container-develop {
	  	-ms-flex-order: 13;
	  	order: 13;
	}
	.text-container-design {
		padding-left: 0;
	}

	.text-container-develop {
		padding-left: 0;
	}
	.skill-design-desc, .skill-design-head {
		text-align: center;
	} 

	.skill-develop-desc, .skill-develop-head {
		text-align: center;
	} 

	.title .title-intro {
		font-size: 5rem;
	}
	.title .title-skill {
		font-size: 1rem;
	}
	.bird-image {
		width: 40px;
		top: 120px;
		left: 100px;
	}}

@media (max-width: 555px) {
	.title .title-intro {
		font-size: 3rem;
	}
	.title .title-skill {
		font-size: 0.8rem;
	}
	.cloud-image-1 {
		width: 150px;
		top: 250px;
		left: -100px;
	}
	.cloud-image-2 {
		width: 170px;
		top: 100px;
		right: -100px;
	}
	.bird-image {
		width: 30px;
		top: 120px;
		left: 20px;
	}
	.about-section-desc, .skill-design-desc {
		font-size: 0.9rem;
	}

	.skill-section-head {
		font-size: 1.5em;
	}
	.skill-design-head {
		font-size: 1rem;
	}
	.skill-develop-head {
		font-size: 1rem;
	}

	.contact-section-content h1 {
		font-size: 1.5rem;
		margin-bottom: 30px;
	}

	.contact-section-content h3 {
		font-size: 1rem;
		margin-bottom: 20px;
	}

}